<div id="header">
  <div class="logo">
    <a href="/">ロゴ</a>
  </div>
  <div class="link">
    <ul id="nav">
      <li><a>ログイン</a></li>
      <li><a>投稿</a></li>
      <li><a>プロフィール</a></li>
    </ul>
  </div>
</div>