<div id="header">
  <div class="logo">
    <a href="/">ロゴ</a>
  </div>
  <div class="link">
    <ul id="nav">
      <li><a>ログイン</a></li>
      <li><%= link_to "投稿", new_post_path %></li>
      <li><a>プロフィール</a></li>
    </ul>
  </div>
</div>